<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试数据管理平台</title>
    {#    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>#}
    {#    <link rel="shortcut icon" href="{{ url_for('static', filename='images/wd_favicon.ico') }}"/>#}
</head>
<body>
<div align="center">
    <a href="{{ url_for('index') }}">主页</a>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">登录</a>
    {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">用户中心</a>
        <a>当前用户: {{ current_user.username }}</a>
        <a href="{{ url_for('logout') }}">退出</a>
    {% endif %}
</div>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ur>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ur>
    {% endif %}
{% endwith %}
{% block content %}
{% endblock %}
</body>
<style type="text/css">
    a {
        text-align: center;
        font-size: 16px;
        {#color: dodgerblue;#}
    }
</style>
</html>