{% extends 'base.html' %}
<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <link type="text/css" href="/static/css/styles.css" rel="stylesheet">
</head>
<body style="padding: 30px;">
{% block content %}
    <div id="wrap">
        <ul class="main_grid">
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">生成借款人信息</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">借款人开户</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">借款人授权</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">资产导入</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/user/see_lender_msg">
                    <p>
                        <button type="submit">查看借款人信息</button>
                    </p>
                </form>
            </li>
        </ul>
    </div>

{% endblock %}
</body>
</html>