{% extends 'base.html' %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
    <div id="wrap">
        <ul class="m_right">
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">生成借款人信息</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">借款人开户</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">借款人授权</button>
                    </p>
                </form>
            </li>

            <li>
                <form method="post" action="/user/see_lender_msg">
                    <p>
                        <button type="submit">查看借款人信息</button>
                    </p>
                </form>
            </li>
    </div>

{% endblock %}
</body>
</html>