<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body><form id="PayForm" name="PayForm" action=https://my-st1.orangebank.com.cn/corporbank/netLoanIn.do autocomplete="off" method="post">

    <input type="hidden" name="orig" value="PGtDb2xsIGlkPSIxNzEyMTU2MDgwOTAwMDAwMDE2NiIgYXBwZW5kPSJmYWxzZSI%2BPGZpZWxkIGlk%0APSJGdW5jQ29kZSIgdmFsdWU9IjEiLz48ZmllbGQgaWQ9Ik9BVGhpcmRMb2dObyIgdmFsdWU9IiIv%0APjxmaWVsZCBpZD0iZW5kRGF0ZSIgdmFsdWU9IjIwMjUwNTI5Ii8%2BPGZpZWxkIGlkPSJvcmRlcmlk%0AIiB2YWx1ZT0iMTcxMjE1NjA4MDkwMDAwMDAxNjYiLz48ZmllbGQgaWQ9ImFtdEVuZCIgdmFsdWU9%0AIjIwMDAiLz48ZmllbGQgaWQ9ImN1c3RBY2NJZCIgdmFsdWU9IjYwMzQwMDAwMDAxMjc5ODYiLz48%0AZmllbGQgaWQ9ImFtdFN0YXJ0IiB2YWx1ZT0iMCIvPjxmaWVsZCBpZD0iY2hhbm5lbFR5cGUiIHZh%0AbHVlPSJQIi8%2BPGZpZWxkIGlkPSJ0aGlyZEN1c3RJZCIgdmFsdWU9IjEwMzIxNTYwNzI2MDAwMDAw%0AMTYiLz48ZmllbGQgaWQ9InR5cGUiIHZhbHVlPSIxMDAwMTAiLz48ZmllbGQgaWQ9Im1hc3Rlcklk%0AIiB2YWx1ZT0iTkVUTDE1MDc5MyIvPjxmaWVsZCBpZD0ibmFtZSIgdmFsdWU9ItL11r7HvyIvPjxm%0AaWVsZCBpZD0iVHJhbldlYk5hbWUiIHZhbHVlPSLP8snPvfC3%2FiIvPjxmaWVsZCBpZD0idHJhbkNv%0AZGUiIHZhbHVlPSJORVRMMTciLz48ZmllbGQgaWQ9IlRyYW5XZWJDb2RlIiB2YWx1ZT0iNjAzNCIv%0APjxmaWVsZCBpZD0ic3RhcnREYXRlIiB2YWx1ZT0iMjAyMDA1MjkiLz48L2tDb2xsPg%3D%3D%0A">
    <input type="hidden" name= "sign" value="MWNhMjA4MjllZDBmZDA0YzdkYjExYWE2NmYxY2I4MDlkMDQ2YjA4M2ZmMzVjMDBiNTI1NDM2YzVl%0ANzJkOTY0MjkzNjFiZmNjMmUxOTdlOTUwZThhMjQ4MDA0NWFlZjIwZTQ4MjZmNjM3NWU1NDU3MjIw%0AYzMxZTQyMWJiMmMxNDY0NDI0YWUzY2I3OGI5ZDAwMzA1MWI2MTY4OGYyNTk2NWYzZjQ1ZTE4ZTIz%0AMjk5M2M0OTQ3NDViODAyMTMwNTBmZjU3ZWE5ODJmODdhZWU3Y2RiNGE3ZmMxZDQ3NDUwNGNmYjhk%0AZWUyNzdkZWVlM2EzMmE2NDRlMDJmYjM5Yzk0MA%3D%3D%0A">
    <input type="hidden" name= "returnurl" value="http://test5.www.xs.sit/xweb//static/autSuc?busOrderNo=2020052905221489802C&goodsType=AUTHORIZE&tranCodeType=NETL17&busOrderNo=2020052905221489802C">
    <input type="hidden" name= "NOTIFYURL" value="http://118.244.227.120:12403/callback/notify">
    <input type="hidden" name= "userType" value="0">
 <input type="submit" value="submit" style="position:absolute;top:20%;left:20%">
</form>
</body>
</html>