{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="text/css" href="/static/css/styles.css" rel="stylesheet">
    </head>
    <body style="padding:30px;">

    {#    <h1>{{ current_user.username }} 测试环境服务平台</h1>#}
    <table border="0" width="50%">
        <tbody>
        <tr>
            <td colspan="3">
                <h4>平台访问地址</h4>
            </td>
        </tr>
        <tr>
            <td>
                <li><a href="http://xiangshang:xiangshang@{{ current_user.username }}.opm.xs.sit/opm/a/login"
                       target="_blank">OPM地址</a></li>
            </td>
            <td>
                <li><a href="http://{{ current_user.username }}.www.xs.sit/xweb/index" target="_blank">PC端网址</a></li>
            </td>
            <td>
                <li><a href="http://{{ current_user.username }}.m.xs.sit/html/newwap/login.html"
                       target="_blank">M站(H5)地址</a></li>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h4>借款信息类</h4>
            </td>
        </tr>
        <tr>
            <td>
                <li><a href="http://{{ current_user.front_ip }}:19200/las//jytest/api/node/netl01"
                       target="_blank">借款人开户</a></li>
            </td>
            <td>
                <li><a href="http://{{ current_user.front_ip }}:19200/las//jytest/api/node/netl17_1"
                       target="_blank">借款信息授权</a></li>
            </td>
            <td>
                <li><a href="/xweb/my/moneyRecord" target="_blank">借款信息导入</a></li>
            </td>
            <!--<li>
                <a href="/agreement/userAgreementFileInfoGroups" target="_blank">合同管理查询</a>
            </li> -->
        </tr>
        <tr>
            <td colspan="3">
                <h4>定时任务类</h4>
            </td>
        </tr>
        <tr>
            <td>
                <li><a href="http://admin:admin@{{ current_user.backend_ip }}:50999/task/"
                       target="_blank">向上task定时</a></li>
            </td>
            <td>
                <li><a href="http://admin:admin@{{ current_user.backend_ip }}:19700/" target="_blank">资产端-定时任务</a></li>
            </td>
            <td>
                <li>
                    <a href="http://{{ current_user.backend_ip }}:12300/swagger-ui.html#!/start-loan-controller/startLoanTaskUsingPOST"
                       target="_blank">放款微服务</a></li>
            </td>
            <td>
                <li><a href="http://{{ current_user.backend_ip }}:13050/swagger-ui.html"
                       target="_blank">还款(资产)微服务</a></li>
            </td>
            <td>
                <li>
                    <a href="http://{{ current_user.username }}.micro.agreement.xs.sit/swagger-ui.html#/agreement-task-controller"
                       target="_blank">合同管理定时</a>
                </li>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h4>环境查询类</h4>
            </td>
        </tr>
        <tr>
            <td>
                <li><a href="http://{{ current_user.username }}.jenkins.xs.sit/login?from=%2F"
                       target="_blank">Jenkins地址</a></li>
            </td>
            <td>
                <li><a href="http://admin:admin@{{ current_user.backend_ip }}:19910/fds/trans/list"
                       target="_blank">银行接口查询</a></li>
            </td>
            <td>
                <li><a href="https://my-st1.orangebank.com.cn/corporbank/otp.jsp" target="_blank">平安短信验证码</a>
            </td>
            <td>
                <li><a href="http://10.200.0.108:18090/swagger-ui.html#!/decrypt-data-controller/encryptListUsingPOST"
                       target="_blank">手机号加密/解密</a></li>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h4>其他分类</h4>
            </td>
        </tr>
        <tr>
            <td>
                <li><a href="http://10.200.0.72:11987/generateData/generateRandomPeopleInfo" target="_blank">生成四要素地址</a>
                </li>
            </td>
        </tr>
        </tbody>
    </table>
    </body>
    <style type="text/css">
        h1 {
            text-align: center;
            font-size: 20px;
            color: #FD482C;
        }

        h4 {
            color: blueviolet;
            font-weight: bold;
        }

        body {
            text-align: center;
            font-size: 15px
        }

        tr {
            text-align: left;
        }

        td {
            text-align: left;
        }

        a {
            color: blue;
            font-size: 16px;
            font-weight: bold;
        }

        li {
            color: mediumvioletred;
        }
    </style>
    </html>
{% endblock %}