{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>测试服务平台</title>
    </head>
    <body style="padding:30px;">
    <p>{{ current_user.username }}测试服务平台</p>
    <div id="wrap">
        <ul class="m_right">
            <li>
                <a href="http://xiangshang:xiangshang@{{ current_user.username }}.opm.xs.sit/opm/a/login"
                   target="_blank">OPM平台</a>
            </li>
            <li>
                <a href="http://{{ current_user.username }}.www.xs.sit/xweb/index" target="_blank">PC平台</a>
            </li>
            <li>
                <a href="http://{{ current_user.username }}.m.xs.sit/html/newwap/login.html"
                   target="_blank">M站平台</a>
            </li>
        </ul>
        <ul class="m_left">
            <li>
                <a href="http://{{ current_user.front_ip }}:19200/las//jytest/api/node/netl01" target="_blank">借款人开户</a>
            </li>
            <li>
                <a href="http://{{ current_user.front_ip }}:19200/las//jytest/api/node/netl17_1"
                   target="_blank">借款信息授权</a>
            </li>
            <li>
                <a href="/xweb/my/moneyRecord" target="_blank">借款信息导入</a>
            </li>
            <!--<li>
                <a href="/agreement/userAgreementFileInfoGroups" target="_blank">合同管理查询</a>
            </li> -->
            </br>
            <li>
                <a href="http://admin:admin@{{ current_user.backend_ip }}:50999/task/" target="_blank">向上定时任务</a>
            </li>
            <li>
                <a href="http://admin:admin@{{ current_user.backend_ip }}:19700/" target="_blank">资产端定时任务</a>
            </li>
            <li>
                <a href="http://{{ current_user.backend_ip }}:12300/swagger-ui.html#!/start-loan-controller/startLoanTaskUsingPOST"
                   target="_blank">放款微服务地址</a>
            </li>
            <li>
                <a href="http://{{ current_user.backend_ip }}:13050/swagger-ui.html"
                   target="_blank">还款(资产)微服务地址</a>
            </li>
            </br>
            <li>
                <a href="http://{{ current_user.username }}.jenkins.xs.sit/login?from=%2F"
                   target="_blank">Jenkins部署地址</a>
            </li>
            <li>
                <a href="http://admin:admin@{{ current_user.backend_ip }}:19910/fds/trans/list" target="_blank">银行交易接口查询</a>
            </li>
            <li>
                <a href="https://my-st1.orangebank.com.cn/corporbank/otp.jsp" target="_blank">平安银行短信验证码</a>
            </li>
            <li>
                <a href="http://10.200.0.108:18090/swagger-ui.html#!/decrypt-data-controller/encryptListUsingPOST"
                   target="_blank">手机号加密/解密</a>
            </li>
        </ul>
    </div>
    </body>
    <style type="text/css">
        p {
            text-align: center;
            font-size: 20px;
            color: red
        }

        body {
            text-align: center;
            font-size: 15px
        }

        ul {
            text-align: left
        }

        li {
            text-align: left
        }
    </style>
    </html>
{% endblock %}