{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <div id="wrap">
        <ul class="m_right">
            <li>
                <form method="post" action="/user/lender_info">
                    <p>
                        <button type="submit">生成理财人信息</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">理财人注册</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">理财人开户</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">理财人充值</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/run">
                    <p>
                        <button type="submit">理财人购买</button>
                    </p>
                </form>
            </li>
            <li>
                <form method="post" action="/user/see_lender_msg">
                    <p>
                        <button type="submit">查看理财人信息</button>
                    </p>
                </form>
            </li>
    </div>

{% endblock %}
</body>
</html>