{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
    <div class="col">
        <ul class="main-container">
            <li class="col-sm-offset-0">
                <form method="post" action="/user/user_register" target="_blank">
                    <p>
                        <button class="btn btn-large btn-primary" type="submit">一键注册</button>
                    </p>
                </form>
            </li>
            <!-- <li class="col-sm-offset-0">
                <form method="post" action="/user/real_info" target="_blank">
                    <p>
                        <button class="btn btn-large btn-primary" type="submit">实名信息</button>
                    </p>
                </form>
            </li> -->
            <li class="col-sm-offset-0">
                <form method="post" action="/user/bankcard" target="_blank">
                    <p>
                        <button class="btn btn-large btn-primary" type="submit">银行卡号</button>
                    </p>
                </form>
            </li>
            <li class="col-sm-offset-0">
                <form method="post" action="/user/transter_account" target="_blank">
                    <p>
                        <button class="btn btn-large btn-primary" type="submit">一键转账</button>
                    </p>
                </form>
            </li>
            <li class="col-sm-offset-0">
                <form method="post" action="/user/select_users" target="_blank">
                    <p>
                        <button class="btn btn-large btn-primary" type="submit">一键查询</button><p>只查询最新注册的10个用户</p>
                    </p>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
</body>
</html>