{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% block content %}
    <div class="col">
        <ul class="main-container">
            <li class="col-sm-offset-0">
                <form method="post" action="/user/user_register">
                    <p>
                        <input type="text" name="register" placeholder="请输入注册的手机号(选填)" style="width: 200px;">
                        <button class="btn btn-large btn-primary" type="submit">一键注册+开户</button>
                        <strong style="color:red;">{{ register_info }}</strong>
                    </p>
                </form>
            </li>
            <li class="col-sm-offset-0">
                <form method="post" action="/user/openbank">
                    <p>
                        <input type="text" name="openbank" placeholder="请输入已注册的手机号(必填)" style="width: 200px;">
                        <button class="btn btn-large btn-primary" type="submit">补开银行存管</button>
                        （备用功能）
                        <strong style="color: red">{{ msg }}</strong>
                    </p>
                </form>
            </li>
            <li class="col-sm-offset-0">
                <form method="post" action="/user/real_info">
                    <p>
                        <input type="text" name="bankcard" placeholder="默认招商银行"
                               style="color: red;width: 200px;">
                        <button class="btn btn-large btn-primary" type="submit">生成四要素</button>
                        <strong style="color: red">
                            {% for i in real_info %}
                                {{ i }},
                            {% endfor %}
                        </strong>
                    </p>
                </form>
            </li>
            <li class="col-sm-offset-0">
                <form method="post" action="/user/transter_account">
                    <p>
                        <input type="text" name="user_id" placeholder="请输入用户ID(必填)" style="width: 200px;">
                        <button class="btn btn-large btn-primary" type="submit">一键转账</button>
                        （通过用户ID进行转账）
                        <strong style="color: red">{{ errmsg }}</strong>
                    </p>
                </form>
            </li>
            <li class="col-sm-offset-0">
                <form method="post" action="/user/user_info">
                    <p>
                        <input type="text" name="user_info" placeholder="请输入用户ID(必填)" style="width: 200px;">
                        <button class="btn btn-large btn-primary" type="submit">查询单个用户信息</button>
                        <strong style="color: red">{{ u_msg }}</strong>
                        （通过用户id查询该用户的具体信息）
                    </p>
                </form>
            </li>
            <li class="col-sm-offset-0">
                <form method="post" action="/user/select_users">
                    <p>
                        <input type="text" name="count" placeholder="请输入查询条数(选填)" style="width: 200px;">
                        <button class="btn btn-large btn-primary" type="submit">批量查询用户信息</button>
                        （默认只查询最新注册的10个用户）
                    </p>
                </form>
            </li>
            <li class="col-sm-offset-0">
                <form method="post" action="/user/del_order">
                    <p>
                        <input type="text" name="del_user_order" placeholder="请输入用户ID（必填）" style="width: 200px;">
                        <button class="btn btn-large btn-primary" type="submit">一键清空用户订单</button>
                        <strong style="color: red">{{ del_msg }}</strong>
                        （该功能会删除该用户的所有订单）
                    </p>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}
</body>
</html>