{% extends 'base.html' %}
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#000000">
    <h1>测试数据管理平台</h1>
</div>

{% block content %}
    {#    <p>还没注册? <a href="{{ url_for('register') }}">马上去注册!</a></p>#}
    <div style="width: 100%;text-align: left">
        <h1>登录</h1>
        <form action="" method="post">
            <!-- #用来实现在配置中激活的csrf保护-->
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
{#            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>#}
            <p>{{ form.submit() }}</p>
        </form>
    </div>
{% endblock %}