<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    {#    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</head>
<script language="text/javascript">
    $(function () {
        $.ajax({
            type: 'post',
            url: "/test2/flist",
            dataType: "json",
            data: {pid: 0},
            success: function (data) {
                // console.log(data);
                $("#main_id").empty();
                $("#main_id").append("<option value=''>请选择文件</option>");
                for (var i = 0; i < data.length; i++) {
                    $("#main_id").append('<option value=' + data[i].id + '>' + data[i].class_name + '</option>');
                }
            }
        });
    });
</script>
<body>
<form method="post" action="/run"><textarea name="code" style="width:90%;height: 300px"></textarea>
    <p>
        <button type="submit">Run</button>
    </p>
</form>
<div class="col-sm-2">
    <select name="main_id" id="main_id" class="text input-large form-control">
        <option value="">请选择主类</option>
    </select>
</div>
</body>
</html>