{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="padding:30px;">
{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <table>
            <tbody>
            <tr>
                <td>头像：</td>
                <td><input type="file" name="avatar"></td>
            </tr>
            <tr>
                <td>描述：</td>
                <td><input type="text" name="desc"></td>
            </tr>
            <tr>
                <td><input type="submit" value="提交"></td>
            </tr>
            </tbody>
        </table>
    </form>
    <p><input type="button" name="Submit" onclick="javascript:history.back(-1);" value="返回上一页"></p>
{% endblock %}
</body>
</html>