{% extends "base.html" %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
{% block content %}
    <form action="" enctype="multipart/form-data" method="post">
        <p><input type="file" name="file"/><br></p>
        <p><input id="upload" type="submit" value="确认上传"></p>
    </form>
    {#<button id="uploads">上传文件</button>#}
{% endblock %}
</body>
<script type="text/javascript">
    $(function () {
        $("#uploads").click(function () {
            var formData = new FormData($('#uploadForm')[0]);
            $.ajax({
                type: 'post',
                url: "/upload",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
            }).success(function (data) {
                alert(data);
            }).error(function () {
                alert("上传失败");
            });
        });
    });
</script>
</html>