{% extends "base.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="padding: 30px;">
{% block content %}
    <table>
        <tr valign="top">
            {#            <td><img src="{{ user.avatar(128) }}"></td>#}
            <td><h1 style="text-align: left;column-rule: #FD482C;"><b>用户: {{ user.username }}</b></h1>
                {% if user == current_user %}
                    <p><a href="{{ url_for('edit_profile') }}">编辑用户配置</a></p>
                    {#                    <p><a href="{{ url_for('test') }}">test文件</a></p>#}
                    {#                    <p><a href="{{ url_for('test2') }}">执行文件</a></p>#}
                    {#                    <p><a href="{{ url_for('upload') }}">文件上传</a></p>#}
                    <p><a href="{{ url_for('lender_info') }}">理财人信息</a></p>
                    <p><a href="{{ url_for('borrowers_info') }}">借款人信息</a></p>
                {% endif %}
                {% if user.last_seen %}<p>最近登录: {{ user.last_seen }}</p>{% endif %}
                <p>当前登录IP：<strong>{{ user.last_ip }}</strong></p>
            </td>
        </tr>
    </table>
    </body>
    <style type="text/css">
        body {
            text-align: left;
            font-size: 16px;
        }
    </style>
    </html>
{% endblock %}